#theme-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  padding: 0 5px;
  border: none !important;

  background-color: var(--cor-cinza-claro);
  color: var(--cor-texto-principal);
}

#theme-toggle i {
  color: inherit;
  font-size: 1.1rem;
}

body.dark-mode #theme-toggle {
  background-color: var(--cor-texto-principal);
  color: var(--cor-fundo);
}
